/* * {
    outline: solid red;
} */

html,
body {
    background-color: rgb(34, 34, 34);
    color: white;
    margin: 0px;
    padding: 0px;
}

.starter {
    display: flex;
    justify-content: space-between;
    height: 64vh;
}

.starter-leftside-content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.starter-paragraphs-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.email-container a {
    text-decoration: none;
    color: white;

}

.email-container a:hover {
    text-decoration: underline;
    color: rgb(0, 153, 255);
}

.email-container p {
    font-size: 25px;
    font-weight: lighter;
}

.starter-title {
    font-size: 50px;
    font-weight: bold;
    color: rgb(0, 153, 255);
}

.starter-filler {
    font-size: 30px;
}

.starter img {
    border-left: solid yellow;
}

.section {
    background-color: rgb(28, 27, 27);
}

#section-devider-container {
    display: flex;
    justify-content: center;
    height: 100px;
    padding: 10px 0px 10px 0px;
}

.section-devider {
    border-top: solid grey;
    border-bottom: solid grey;
    height: 100%;
    width: 70%;
}

.about-title-container {
    display: flex;
    justify-content: center;
}

.about-title {
    margin: 0px 0px 10px 0px;
    padding-top: 10px;
    padding-left: 30px;
    font-size: 36px;
    width: 120px;
    border-bottom: solid grey;
}

#about ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0px 30px 0px 30px;
    padding-bottom: 20px;
    font-size: 23px;
}

.right-side-section {
    display: flex;
    justify-content: space-between;
    height: 500px;
}

.right-side-section-left-content {
    display: flex;
}

.right-side-section-left-content img {
    border-left: solid yellow;
}

.right-side-section-right-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
}

.right-side-section-right-content p {
    font-size: 26px;
    line-height: 1.5;
}

.org-title {
    width: 100%;
    font-size: 26px;
}

.left-side-section {
    display: flex;
    justify-content: space-between;
    height: 500px;
}

.left-side-section-left-content {
    display: flex;
}

.left-side-section-left-content img {
    border-right: solid yellow;
}

.left-side-section-right-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
}

.left-side-section-right-content p {
    font-size: 26px;
    line-height: 1.5;
}

.conferences-title {
    width: 100%;
    font-size: 26px;
}

@media (max-width: 1010px) {
    .starter {
        flex-wrap: wrap;
        height: 100%;
    }

    .starter img {
        border-top: solid yellow;
        border-left: none;
        width: 100%;
    }

    .starter {
        text-align: center;
    }

    .starter-paragraphs-container p {
        font-size: clamp(20px, 4vw, 50px);
    }

    .starter-title {
        font-size: clamp(30px, 6vw, 70px);
    }
}